*.py[cod]
*.so
.svn
*.swp
*.bak
.eggs/
__pycache__/
build/
site/
dist/
testkit.egg-info/
.DS_Store
.pytest_cache/
.python-version
.vscode/settings.json
coverage.xml
.coverage
.tox
.idea
.direnv
.venv
junit.xml
.envrc
.env
